/*/ / GENERAL / /*/

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --height-header: 100px;
    --height-text-balloon: 180px;
    --height-drawings: 200px;
}

body {
    width: 100vw;
    height: 100svh;

    font-size: x-large;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}


/*/ / HEADER-SECTION / /*/

header {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
}

#logo, #title, #cv-emblem {
    width: calc(100% / 3);
}

#title {
    text-align: center;
}

#cv-emblem {
    text-align: right;
}

/*/ / MAIN / /*/
main {
    width: 80%;
    height: calc(100% - var(--height-header));
    margin: 0 auto;

    display: grid;
    grid-template-rows: var(--height-text-balloon) 3fr var(--height-drawings);
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "text text text"
    "line terminal terminal"
    "basile . you";
}

/*/ / DIALOGUE TEMPLATE / /*/
.text-balloon {
    grid-area: text;
    display: flex;
    align-items: center;
}

.terminal {
    grid-area: terminal;

    border: 2px solid black;
}

.text-balloon-line {
    grid-area: line;
    display: flex;
    justify-content: center;
}

.actual-line {
    width: 2px;
    height: 100%;

    background-color: black;
}

.basile {
    grid-area: basile;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
}

.you {
    grid-area: you;
    display: flex;
    justify-content: right;
    align-items: end;
}

img {
    height: calc(var(--height-drawings) - 10px );
}

/*/ / TERMINAL / /*/
.terminal {
   border: 2px solid gray;
}

.bar {
    width: 100%;
    height: 30px;
    border: 2px solid gray;
    


    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(50, 45, 142) 0%, rgb(102, 102, 190) 35%, rgb(132, 181, 211) 100%);
}

.bar p {
    line-height: 30px;
}

.content {
    padding: 4px;
    width: 100%;
    height: calc(100% - 30px);
    background-color: rgb(28, 28, 29);
    z-index: -20;
}

